{% extends "base.html.jinja" %}
{% block title %}login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div>
    <p>Login</p>
    <form action="/login" method="post">
        <input name="email" type="email"> <br>
        <input name="password" type="password"> <br> 
        <input type="submit" value="login">
    </form>
    {% if let Some(error) = error %}
    <p> {{ error }} </p>
    {% endif %}
</div>
{% endblock %}