{% extends "base.html.jinja" %}
{% block title %} Users {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>uuid</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role_id}}</td>
                <td>{{user.uuid}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}